NUXT_PUBLIC_BACKEND_URL=
NUXT_PUBLIC_FRONTEND_URL=
NUXT_PUBLIC_COMPANY_NAME=
NUXT_PUBLIC_COMPANY_PHONE=
NUXT_PUBLIC_COMPANY_EMAIL=
NUXT_PUBLIC_COMPANY_ADDRESS=
NUXT_PUBLIC_SITE_URL=
=
# Socials
NUXT_PUBLIC_FACEBOOK_URL=
NUXT_PUBLIC_INSTAGRAM_URL=
NUXT_PUBLIC_TWITTER_URL=
NUXT_PUBLIC_WHATSAPP_URL=
NUXT_PUBLIC_TIKTOK_URL=